<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Apple (India){%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

</head>

<body id="body">

    <div id="main">
        <div id="page1">
            <nav>
                <div class="nav-items">
                    <i class="ri-apple-fill"></i><a id="Store" href="">Store</a><a href="">Mac</a><a href="">iPad</a><a
                        href="">iPhone</a><a href="">Watch</a><a href="">AirPods</a><a href="">TV & Home</a><a
                        href="">Entertainment</a><a href="">Accessories</a><a href="">Support</a>
                    <i class="ri-search-line"></i>
                    <i class="ri-shopping-bag-line"></i>
                    <i class="ri-menu-line"></i>
                </div>
            </nav>

            <div class="nav3">
                <div class="nav-top">
                    <div class="nav-top-store">
                        <div class="store1">
                            <h4>Shop</h4>
                            <a href="">Shop the Latest</a><a href="">Mac</a><a href="">iPad</a><a href="">iPhone</a><a
                                href="">Apple Watch</a><a href="">Accessories</a>
                        </div>
                        <div class="store2">
                            <h4>Quick Links</h4>
                            <a href="">Find a Store</a><a href="">Order Status</a><a href="">Ways To Buy</a>
                        </div>
                        <div class="store3">
                            <h4>Shop Special Stores</h4>
                            <a href="">Education</a><a href="">Business</a>
                        </div>

                    </div>

                </div>
                <div class="nav-bottom"></div>
            </div>
                    <div class="subnav">
            <i class="ri-close-line"></i>
            <a href="">Store</a><a href="">Mac</a><a href="">iPad</a><a href="">iPhone</a><a href="">Watch</a><a href="">AirPods</a><a href="">TV & Home</a><a href="">Entertainment</a><a href="">Accessories</a><a href="">Support</a>
        </div>
        </div>
    </div>
</body>

</html>